# Dependencies
node_modules/

# Tauri Build Artifacts
src-tauri/target/

# Local Checkpoints & Large Archives
checkpoints/
releases/
*.log

# OS Metadata
.DS_Store
Thumbs.db
desktop.ini

# Environment / Secrets
.env
.env.local
*.pem

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
